<div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
        </strong>
        <span class="govuk-phase-banner__text">
        This guidance is in development. You can find <a href="https://www.gov.uk/government/collections/content-and-publishing-guidance-for-government" class="govuk-link">current content and publishing guidance on GOV.UK</a>.
        <!-- This guidance is new. Help us improve it and <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">give your feedback (opens in new tab)</a>. -->
        </span>
      </p>
    </div>