// Use GOV.UK Frontend
@use "pkg:govuk-frontend/dist/govuk";

// Use GOV.UK Eleventy Plugin components
@use "pkg:@x-govuk/govuk-eleventy-plugin";

.govuk-footer {
  font-size: 19px;
  line-height: 25px;
}

.x-govuk-sub-navigation__link {
  padding: 2px 0;
}

.style-a-z {
  padding-left: 0px;
  margin-bottom: 30px;
  margin-top: 30px;
  
  >li {
    display: inline-block;
    margin-bottom: 0;
    padding-right: 10px;
    margin-bottom: 20px;
  
    >a {
      margin-right: 0px;
      text-decoration: underline;
      padding: 12px;
     }
  }
}

.style-guide {
  h2 {
    background-color: #1d70b8;
    color: #fff;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
}

.govuk-caption--inverse {
  color: #ffffff;
}

.call-to-action {
  margin: 0 0 20px 0;
  background-color: #f3f2f1;
  padding: 30px;
  padding-bottom: 10px;
}

abbr {
  cursor: help;
  text-decoration: none;
}

