// Use GOV.UK Frontend
@use "pkg:govuk-frontend/dist/govuk" as *;

// Use GOV.UK Eleventy Plugin components
@use "pkg:@x-govuk/govuk-eleventy-plugin";

.x-govuk-sub-navigation__link {
  padding: 2px 0;
}

.style-a-z {
  padding-left: 0px;
  margin-bottom: 30px;
  margin-top: 30px;
  
  >li {
    display: inline-block;
    margin-bottom: 0;
    padding-right: 10px;
    margin-bottom: 20px;
  
    >a {
      margin-right: 0px;
      text-decoration: underline;
      padding: 12px;
     }
  }
}

.style-guide {
  h2 {
    background-color: #1d70b8;
    color: #fff;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
}

.govuk-caption--inverse {
  color: #ffffff;
}

.call-to-action {
  margin: 0 0 20px 0;
  background-color: #f3f2f1;
  padding: 30px;
  padding-bottom: 10px;
}

abbr {
  cursor: help;
  text-decoration: none;
}

.govuk-table {
  display: block;
  overflow-x: auto;
}

.share-links__list {
    list-style: none;
    margin: 0;
    padding: 0
}

.share-links__list-item {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    min-height: 30px;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 15px
}

.share-links__link {
    margin-right: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25
}

@media print {
    .share-links__link {
        font-family: sans-serif
    }
}

@media print {
    .share-links__link {
        font-size: 14pt;
        line-height: 1.2
    }
}

.share-links__link-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    line-height: 30px
}

.share-links__svg {
    width: 100%;
    height: 100%
}

/* Back to top from https://github.com/alphagov/govuk-design-system/blob/main/src/stylesheets/components/_back-to-top.scss */

.app-back-to-top {
  margin-top: govuk-spacing(4);
  margin-bottom: govuk-spacing(6);
}

@include govuk-media-query($from: tablet) {
  .app-back-to-top {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: govuk-spacing(8);
  }

  .govuk-frontend-supported .app-back-to-top--fixed {
    position: fixed;
    top: calc(100% - #{govuk-spacing(8)});
    bottom: auto;
    left: auto;
  }

  .govuk-frontend-supported .app-back-to-top--hidden .app-back-to-top__link {
    @include govuk-visually-hidden-focusable;
  }
}

.app-back-to-top__icon {
  display: inline-block;
  width: 0.8em;
  height: 1em;
  margin-top: -(govuk-spacing(1));
  margin-right: govuk-spacing(2);
  vertical-align: middle;
}