{% macro cookieBanner(params) %}

  {% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

  {%- set category = params.category or "analytics" -%}

  {%- set title = params.title or "Cookies on GOV.UK Design System" -%}

  {%- set html %}
    {% if params.html %}
      {{ params.html | safe }}
    {% else %}
      <p class="govuk-body">We’d like to use analytics cookies so we can understand how you use the Design System and make improvements.</p>
      <p class="govuk-body">We also use essential cookies to remember if you’ve accepted analytics cookies.</p>
    {% endif %}
  {% endset %}

  {%- set acceptHtml %}
    {% if params.acceptHtml %}
      {{ params.acceptHtml | safe }}
    {% else %}
      <p class="govuk-body">You’ve accepted analytics cookies. You can <a class="govuk-link" href="/cookies/">change your cookie settings</a> at any time.</p>
    {% endif %}
  {% endset %}

  {%- set rejectHtml %}
    {% if params.rejectHtml %}
      {{ params.rejectHtml | safe }}
    {% else %}
      <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="/cookies/">change your cookie settings</a> at any time.</p>
    {% endif %}
  {% endset %}

  {{ govukCookieBanner({
    ariaLabel: title,
    hidden: true,
    classes: params.classes,
    attributes: {
      "data-module": "govuk-cookie-banner",
      "data-cookie-category": category
    },
    messages: [
      {
        headingText: title,
        html: html,
        actions: [
          {
            text: "Accept " + category + " cookies",
            type: "button",
            classes: "js-cookie-banner-accept"
          },
          {
            text: "Reject " + category + " cookies",
            type: "button",
            classes: "js-cookie-banner-reject"
          },
          {
            text: "View cookies",
            href: "/cookies/"
          }
        ],
        classes: "app-width-container js-cookie-banner-message"
      },
      {
        html: acceptHtml,
        role: "alert",
        hidden: true,
        actions: [
          {
            text: "Hide cookie message",
            type: "button",
            classes: "js-cookie-banner-hide js-cookie-banner-hide--accept"
          }
        ],
        classes: "js-cookie-banner-confirmation-accept app-width-container"
      },
      {
        html: rejectHtml,
        role: "alert",
        hidden: true,
        actions: [
          {
            text: "Hide cookie message",
            type: "button",
            classes: "js-cookie-banner-hide js-cookie-banner-hide--reject"
          }
        ],
        classes: "js-cookie-banner-confirmation-reject app-width-container"
      }
    ]
  }) }}
{% endmacro %}
