{% from "_cookie-banner.njk" import cookieBanner %}

{# Extend GOV.UK Eleventy Plugin base layout #}
{% extends "layouts/base.njk" %}

{% block header %}
  <div data-module="search-tracker">
    {{ super() }}
  </div>
{% endblock %}

{% block bodyStart %}
  <div data-module="page-view-tracker"></div>
  {% call cookieBanner({
    category: "analytics"
  }) %}{% endcall %}
{% endblock %}

{% block bodyEnd %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDQ4DC87"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% js %}
    window.GDS_CONSENT_COOKIE_VERSION = 1;

    initialiseAnalytics()    

    createAll(CookieBanner)
    createAll(CookiesPage)
  {% endjs %}

  <script type="module" src="{% getBundleFileUrl 'js' %}"></script>

{% endblock %}
{% block head %}
  {{ super() }}
  <meta name="robots" content="noindex, nofollow">
  <meta name="govuk:rendering-app" content="govuk-content-publishing-guidance">
{% endblock %}