{% extends "layouts/main.njk" %}

{% block beforeContent %}
{% include "layouts/shared/phase-banner.njk" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  {{ appDocumentHeader({
    title: title
  }) }}

  {{ appProseScope(content) if content }}
  {% include "layouts/shared/last-updated.njk" %}
  {% include "layouts/shared/related.njk" %}
  </div>
  </div>
{% endblock %}
