{% extends "layouts/main.njk" %}

{% block beforeContent %}
{% include "layouts/shared/phase-banner.njk" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  {{ appDocumentHeader({
    title: title
  }) }}

  {{ appProseScope(content) if content }}

  {% include "layouts/shared/related.njk" %}
{% endblock %}
