{% extends "layouts/main.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block containerStart %}
{% include "layouts/shared/phase-banner.njk" %}

  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% include "layouts/shared/sub-navigation.njk" %}
    {% include "layouts/shared/document-header.njk" %}

<div class="style-guide">
    {{ appProseScope(content) if content }}
</div>

      {% include "layouts/shared/sharing-links.njk" %}
      {% include "layouts/shared/related.njk" %}
    </div>
  </div>
{% endblock %}
